/* main page and shared section styles */

body {
    min-height: 100vh;
}

#header-div {
    margin-bottom: 150px;
}

#header-title {
    padding-top: 50px;
    background-color: #ED6B47;
}

#header-logo {
    display: flex;
    justify-content: center;
}

#header-nav {
    font-family: teko, sans-serif;
}

#header-nav li {
    font-size: 24px;
    font-weight: 500;
}

.navbar {
    --mdb-navbar-box-shadow: 0;
}

h1 {
    text-align: center;
    font-family: teko, sans-serif;
    font-size: 52px;
}

h3 {
    font-family: teko, sans-serif;
}

h4 {
    font-family: teko, sans-serif;
}

#about-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#about-image {
    width: 100%;
    border-radius: 15px;
}

h2 {
    text-align: center;
    font-family: teko, sans-serif;
    font-size: 32px;
}

.about-text {
    text-align: center;
    font-family: teko, sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.card-body {
    padding-top: 0;
    border-radius: 15px;
}

#about-card {
    display: flex;
    flex-direction: column;
    align-items: middle;
    padding-top: 10%;
    padding-bottom: 7%;
}

#about-card:hover {
    background-color: rgba(182, 56, 21, 0.85);
}

.card {
    border: transparent;
}

#footer-span {
    font-family: teko, sans-serif;
    font-size: 22px;
}

/* Signup and member area styles */

#about-signup {
    background-color: #28b0b8b3;
    border-color: transparent;
    font-family: teko, sans-serif;
    font-size: 24px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
    background-color: #494B49;
    border-radius: 15px;
}

.login-container input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: teko, sans-serif;
    font-size: 20px;
}

#registered-submit,
#register-button {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#login-block {
    background-color: #112A46;
    border-radius: 15px;
}

.login-container h3,
.login-container a {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F3CFCE;
    font-family: teko, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.form-group input {
    margin-top: 15x;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}



/* Register page styles */

.center-align {
    text-align: center;
}

#register-container {
    text-align: center;
    max-width: 50%;
    margin: auto;
    background-color: #fafafaad;
}

h3 {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* login page styles */

#login-container {
    text-align: center;
    max-width: 50%;
    margin: auto;
    background-color: #fafafaad;
}

#plan-examples {
    margin-top: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#plan-carousel {
    margin-top: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: teko,
        sans-serif;
    font-size: 22px;
    font-weight: 300px;
}

.carousel-control {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* workout record page styles */

#workout-record-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: teko, sans-serif;
    text-align: center;
}

#workout-record-container label {
    font-family: teko, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 1000;
}

#date-picker {
    margin-left: auto;
    margin-right: auto;
}

#workout-record-container button {
    font-family: teko, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 1000;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#is-visible {
    margin-left: 0;
    float: none;
    width: 4em;
    background-color: #28b0b8b3;
    border-color: #28b0b8b3;
}

#visible-switch {
    text-align: center;
    padding-left: 0;
}

/* profile page styles */

#profile-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#profile-name{
    text-decoration: underline;
    text-transform: lowercase;
    margin-left: 0;
}

#recorded-workouts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: teko, sans-serif;
    font-size: 18px;
}

#recorded-workouts {
    text-align: center;
}

#saved-workouts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#workout-plans {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-head{
    height: 150px;
    border-radius: 3%;
    box-shadow: 8px 3px 3px #ED6B47;
    margin-bottom: 10px;
}

/* full workout list page styles */

h3 {
    font-size: 32px;
    text-align: center;
}

#workout-list-container {
    text-align: left;
    font-family: teko;
}

#workout-search {
    margin-bottom: 10px;
}

#workout-search-button-container {
    text-align: right;
}

#search-button {
    border-color: #ED6B47 !important 
}

#search-button:hover {
    background-color: #ED6B47;
    color: #fafafa;
}

.row {
    --bs-gutter-x: 0; 
}

.workout-row > span {
    text-transform: capitalize;
}

#workout-collapse-button {
    text-align: left;
    background-color: #494B49;
    color: #fafafa;
    text-transform: capitalize;
}

#reset-search {
    background-color: #28b0b8b3;
    border-color: #28b0b8b3;
}

#reset-search:hover {
    border-color: #fafafa;
}

#description-span {
    float: left;
}

#action-span {
    float: right;
    margin-right: 0;
}

#action-span i {
    padding: 10px;
}

#action-span i:hover {
    transform: scale(1.5);
}

/* edit workout page styles */

#workout-detail-header {
    text-transform: capitalize;
    padding-bottom: 5px;
}


.btn-info {
    background-color: #28b0b8b3;
    color: fafafa;
    margin-top:10px;
    margin-bottom: 10px;
}

#edit-record-container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: teko, sans-serif;
    text-align: center;
}

#workout-record-container label {
    font-family: teko, sans-serif;
    text-align: center;
    font-size: 20px;
}
