{% extends "base.html" %}
{% block content %}

<!--Edit Workout Container-->

<div id="edit-record-container" class="col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded row form-group">
  <form id="edit-workout-form" class="row" method="POST" action="{{url_for('edit_workout', workout_id = workout._id)}}">
    <div mx-auto>
      <div id="visible-switch" class="form-check form-switch row">
        <label class="form-check-label" for="is-visble">Publicly Visible</label>
        <br>
        <input class="form-check-input" type="checkbox" role="switch" id="is-visible" name="is-visible" checked>
      </div>
      <div class="btn btn-info col-12 col-md-12">
        <h3 id="workout-detail-header" class="center-align">{{ workout.workout_description
          }}</h3>
        <span><label for="edit-workout-description"></label><i class="fa-regular fa-pen-to-square"></i>Edit Workout
          Description</span>
        <input type="text" class="form-control" id="edit-workout-description" name="workout-description" minlength="5"
          maxlength="100" value="{{ workout.workout_description
              }}">
        </input>
      </div>

      <!--Edit Workout Date-->

      <div class="btn btn-info col-12 col-md-12">
        <h3>{{workout.date}}</h3>
        <span><label for="edit-workout-date"><i class="fa-regular fa-pen-to-square"></i>Change Workout
            Date</label></span>
        <input type="text" class="form-control" id="workout-date" name="workout-date" minlength="5" maxlength="50"
          value="{{ workout.date
            }}">
      </div>

      <!--Edit Workout Exercises Line 1-->

      <div id="edit-workouts-container" class="btn btn-info col-md-12 gx-0">
        <span>
          <h4><i class="fa-regular fa-pen-to-square"></i>Edit Exercises Completed</h4>
        </span>
        <div class="col-12">
          <div class="btn col-md-2 gx-0">
            <h5>Category</h5>
            <input type="text" class="form-control" id="category" name="category" value="{{workout.category}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <h5>Specfic Exercise</h5>
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.exercise}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <h5>Total One</h5>
            <input type="text" class="form-control" id="modifier" name="modifier"
              value="{{workout.modifier}} : {{workout.total_one}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <h5>Total Two</h5>
            <input type="text" class="form-control" id="modifier" name="modifier"
              value="{{workout.modifier_two}} : {{workout.total_two}}">
          </div>
          <div class=" btn col-md-2 gx-0">
            <h5>Total Three</h5>
            <input type="text" class="form-control" id="total" name="total"
              value="{{workout.modifier_three}} : {{workout.total_three}}">
          </div>
        </div>

        <!--Edit Workout Exercises Line 2-->

        {% if workout.exercise2 %}
        <div class="col-12">
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{workout.category2}}">
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{workout.exercise2}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2"
              value="{{workout.exercise_two_modifier}} : {{workout.exercise_two_total_one}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2"
              value="{{workout.exercise_two_modifier_two}} : {{workout.exercise_two_total_two}}">
          </div>
          <div class=" btn col-md-2 gx-0">
            <input type="text" class="form-control" id="total2" name="total2"
              value="{{workout.exercise_two_modifier_three}}: {{workout.exercise_two_total_three}}">
          </div>
        </div>
        {% endif %}

        <!--Edit Workout Exercises Line 3-->

        {% if workout.exercise3 %}
        <div class="col-12">
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category3" name="category3" value="{{workout.category3}}">
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="exercise3" name="exercise3" value="{{workout.exercise3}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier3" name="modifier3"
              value="{{workout.exercise_three_modifier}} : {{workout.exercise_three_total_one}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier3" name="modifier3"
              value="{{workout.exercise_three_modifier_two}} : {{workout.exercise_three_total_two}}">
          </div>
          <div class=" btn col-md-2 gx-0">
            <input type="text" class="form-control" id="total3" name="total3"
              value="{{workout.exercise_three_modifier_three}}: {{workout.exercise_three_total_three}}">
          </div>
          {% endif %}
        </div>

        <!--Edit Workout Exercises Line 4-->

        {% if workout.exercise4 %}
        <div class="col-12">
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category4" name="category4" value="{{workout.category4}}">
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="exercise4" name="exercise2" value="{{workout.exercise4}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier4" name="modifier4"
              value="{{workout.exercise_four_modifier}} : {{workout.exercise_four_total_one}}">
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier4" name="modifier4"
              value="{{workout.exercise_four_modifier_two}} : {{workout.exercise_four_total_two}}">
          </div>
          <div class=" btn col-md-2 gx-0">
            <input type="text" class="form-control" id="total4" name="total4"
              value="{{workout.exercise_four_modifier_three}}: {{workout.exercise_four_total_three}}">
          </div>
          {% endif %}

          <!--Edit Workout Exercises Line 5-->

          {% if workout.exercise5 %}
          <div class="col-12">
            <div class="btn col-md-2">
              <input type="text" class="form-control" id="category5" name="category5" value="{{workout.category5}}">
            </div>
            <div class="btn col-md-2">
              <input type="text" class="form-control" id="exercise5" name="exercise5" value="{{workout.exercise5}}">
            </div>
            <div class="btn col-md-2 gx-0">
              <input type="text" class="form-control" id="modifier5" name="modifier5"
                value="{{workout.exercise_five_modifier}} : {{workout.exercise_five_total_one}}">
            </div>
            <div class="btn col-md-2 gx-0">
              <input type="text" class="form-control" id="modifier5" name="modifier5"
                value="{{workout.exercise_five_modifier_two}} : {{workout.exercise_five_total_two}}">
            </div>
            <div class=" btn col-md-2 gx-0">
              <input type="text" class="form-control" id="total5" name="total5"
                value="{{workout.exercise_five_modifier_three}}: {{workout.exercise_five_total_three}}">
            </div>
            {% endif %}


            <!--Edit Workout Exercises Line 6-->

            {% if workout.exercise6 %}
            <div class="col-12">
              <div class="btn col-md-2">
                <input type="text" class="form-control" id="category6" name="category6" value="{{workout.category6}}">
              </div>
              <div class="btn col-md-2">
                <input type="text" class="form-control" id="exercise6" name="exercise6" value="{{workout.exercise6}}">
              </div>
              <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="modifier6" name="modifier6"
                  value="{{workout.exercise_six_modifier}} : {{workout.exercise_six_total_one}}">
              </div>
              <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="modifier6" name="modifier6"
                  value="{{workout.exercise_six_modifier_two}} : {{workout.exercise_six_total_two}}">
              </div>
              <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total6" name="total6"
                  value="{{workout.exercise_six_modifier_three}}: {{workout.exercise_six_total_three}}">
              </div>
              {% endif %}

              <!--Edit Workout Exercises Line 7-->

              {% if workout.exercise7 %}
              <div class="col-12">
                <div class="btn col-md-2">
                  <input type="text" class="form-control" id="category7" name="category7" value="{{workout.category7}}">
                </div>
                <div class="btn col-md-2">
                  <input type="text" class="form-control" id="exercise7" name="exercise7" value="{{workout.exercise7}}">
                </div>
                <div class="btn col-md-2 gx-0">
                  <input type="text" class="form-control" id="modifier7" name="modifier7"
                    value="{{workout.exercise_seven_modifier}} : {{workout.exercise_seven_total_one}}">
                </div>
                <div class="btn col-md-2 gx-0">
                  <input type="text" class="form-control" id="modifier7" name="modifier7"
                    value="{{workout.exercise_seven_modifier_two}} : {{workout.exercise_seven_total_two}}">
                </div>
                <div class=" btn col-md-2 gx-0">
                  <input type="text" class="form-control" id="total7" name="total7"
                    value="{{workout.exercise_seven_modifier_three}}: {{workout.exercise_seven_total_three}}">
                </div>
                {% endif %}

                <!--Edit Workout Exercises Line 8-->

                {% if workout.exercise8 %}
                <div class="col-12">
                  <div class="btn col-md-2">
                    <input type="text" class="form-control" id="category8" name="category8"
                      value="{{workout.category7}}" disabled>
                  </div>
                  <div class="btn col-md-2">
                    <input type="text" class="form-control" id="exercise8" name="exercise8"
                      value="{{workout.exercise7}}" disabled>
                  </div>
                  <div class="btn col-md-2 gx-0">
                    <input type="text" class="form-control" id="modifier8" name="modifier8"
                      value="{{workout.exercise_eight_modifier}} : {{workout.exercise_eight_total_one}}">
                  </div>
                  <div class="btn col-md-2 gx-0">
                    <input type="text" class="form-control" id="modifier8" name="modifier8"
                      value="{{workout.exercise_eight_modifier_two}} : {{workout.exercise_eight_total_two}}">
                  </div>
                  <div class=" btn col-md-2 gx-0">
                    <input type="text" class="form-control" id="total8" name="total8"
                      value="{{workout.exercise_eight_modifier_three}}: {{workout.exercise_eight_total_three}}"
                      disabled>
                  </div>
                  {% endif %}


                  <!--Edit Workout Additional Information -->

                  <div class=" btn btn-info col-12 col-md-12">
                    <span><label for="edit-workout-information"></label><i class="fa-regular fa-pen-to-square"></i>Add
                      Additional Information</span>
                    <input type="text" class="form-control" id="edit-additional-information"
                      name="additional-information" minlength="5" maxlength="100"
                      value="{{ workout.additional_information}}">
                    </input>
                  </div>

                  <!--Edit Form Button -->

                  <div>
                    <button id="amend-workout" type="submit" class="col-sm-12 col-md-3">Amend Workout</button>
                  </div>
  </form>
</div>
</div>
</div>
{% endblock %}