{% extends "base.html" %}
{% block content %}
<div id="view-record-container" class="col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="col-md-10 mx-auto shadow-lg info-header">
        <h2>Our Mission</h2>
        <p><em>To facilitate your exercising lifestyle by creating an interactive, shareable and browsable repository of
                your workouts and those created & logged by other users. With Gym Logger you can not only record each
                workout you do, but you can also edit your workouts, save those of other users for your own reference, and even set the workouts of others as a challenge for yourself the next time you hit the gym.</em></p>
    </div>
    <div class="col-md-10 mx-auto shadow-lg info-header">
        <h2>Form Entry Tips</h2>
        <span><em>Be as specific as possible regarding your 5 loggable exercises per workout session</em></span>
        <br>
        <span><em>The details can always be edited later if you've missed something.</em></span>
        <br>
        <span><em>You may use the "additional information" in the log form for information such as number of reps in a set, how many sets done etc.</em></span>
    </div>
    <div class="col-md-10 mx-auto shadow-lg info-header ">
        <h2>FAQs</h2>
        <span><em>Does Gym Logger require a login? Yes you must create a free account to use our platform.</em></span>
        <br>
        <span><em>Can I keep my workout details private? Yes you can make each recorded workout private and visible only to you.</em></span>
    </div>
    <div class="col-md-10 mx-auto shadow-lg info-header">
        <h2>Useful Links</h2>
        <a href="https://www.menshealth.com/uk/building-muscle/train-smarter/a46503310/how-many-exercises-per-workout/">Men's Health On How 3-5 Exercises Per Regular Session Is Most Effective</a>
    </div>
</div>
{% endblock %}