{% extends "base.html" %}
{% block content %}

<!-- Plan Workout Details Container-->

<div id="plan-record-container" class="col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded row form-group">
    <div mx-auto>
      <div class="btn btn-secondary col-12 col-md-12">
        <h3 id="workout-detail-header" class="center-align">{{ workout.workout_description
          }}</h3>
        <span><label for="plan-workout-description"></label>Workout
          Description</span>
        <input type="text" class="form-control" id="plan-workout-description" name="workout-description" minlength="5"
          maxlength="100" value="{{ workout.workout_description
              }}" disabled>
        </input>
      </div>

      <!--Plan Workout Date-->

      <div id="plan-workout-date" class="btn btn-secondary col-12 col-md-12">
        <h3>{{workout.date}}</h3>
        <span><label for="workout-plan-date">Workout
            Date</label></span>
        <input type="text" class="form-control" id="workout-plan-date" name="workout-date" minlength="5" maxlength="50"
          value="{{ workout.date
            }}" disabled>
      </div>

 <!--Plan Exercises-->
    
      <div id="plan-workouts-container" class="btn btn-secondary col-md-12 gx-0">
        <span>
          <h4>Exercises Completed</h4>
        </span>
        <div class="row">
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.exercise}}" disabled>
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="category" name="category" value="{{workout.category}}" disabled>
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="modifier" name="modifier" value="{{workout.modifier}}" disabled>
          </div>
          <div class=" btn col-md-3 gx-0">
            <input type="text" class="form-control" id="total" name="total" value="{{workout.total}}" disabled>
          </div>
        </div>

        <!--Plan Workout Exercises Line 2-->

        {% if workout.exercise2 %}
        <div class=" row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{workout.exercise2}}" disabled>
          </div>
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="category2" name="category2" value="{{workout.category2}}" disabled>
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{workout.modifier2}}" disabled>
          </div>
          <div class=" btn col-md-3 gx-0">
            <input type="text" class="form-control" id="total2" name="total2" value="{{workout.total2}}" disabled>
          </div>
        </div>
        {% endif %}

      <!--Plan Workout Exercises Line 3-->

      {% if workout.exercise3 %}
      <div class="row">
            <div class="btn col-md-3">
              <input type="text" class="form-control" id="exercise3" name="exercise3" value="{{workout.exercise3}}"
                disabled>
            </div>
            <div class="btn col-md-3">
              <input type="text" class="form-control" id="category3" name="category3" value="{{workout.category3}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
              <input type="text" class="form-control" id="modifier3" name="modifier3" value="{{workout.modifier3}}" disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
              <input type="text" class="form-control" id="total3" name="total3" value="{{workout.total3}}" disabled>
        </div>
        {% endif %}
      </div>  

      <!--Plan Workout Exercises Line 4-->

      {% if workout.exercise4 %}
      <div class="row">
              <div class="btn col-md-3">
                <input type="text" class="form-control" id="exercise4" name="exercise4"
                  value="{{workout.exercise4}}" disabled>
              </div>
              <div class="btn col-md-3">
                <input type="text" class="form-control" id="category4" name="category4"
                  value="{{workout.category4}}" disabled>
              </div>
              <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="modifier4" name="modifier4"
                  value="{{workout.modifier4}}" disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
                <input type="text" class="form-control" id="total4" name="total4" value="{{workout.total4}}" disabled>
        </div>
        {% endif %}

       <!--Plan Workout Exercises Line 5-->

       {% if workout.exercise5 %}
      <div class="row row-bsg-0">
                <div class="btn col-md-3">
                  <input type="text" class="form-control" id="exercise5" name="exercise5"
                    value="{{workout.exercise5}}" disabled>
                </div>
                <div class="btn col-md-3">
                  <input type="text" class="form-control" id="category5" name="category5"
                    value="{{workout.category5}}" disabled>
                </div>
                <div class="btn col-md-3 gx-0">
                  <input type="text" class="form-control" id="modifier5" name="modifier5"
                    value="{{workout.modifier5}}" disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
                  <input type="text" class="form-control" id="total5" name="total5"
                    value="{{workout.total5}}" disabled>
        </div>
        {% endif %}
      </div> 
      <div>
        <div id ="plan-additional-information" class="btn btn-secondary col-12 col-md-12">
                  <span><label for="edit-workout-description"></label>
                    Additional Information</span>
                  <input type="text" class="form-control" id="additional-information" name="additional-information"
                    minlength="5" maxlength="100" value="{{ workout.additional_information}}" disabled>
                  </input>
                </div>

</div>
</div>
</div>
{% endblock %}