{% extends "base.html" %}
{% block content %}

<!-- Plan Workout Details Container-->

<div id="plan-record-container" class="col-12 col-md-6 mx-auto shadow-lg p-3 mb-5 bg-white rounded row form-group">
    <div mx-auto>
      <div class="btn btn-secondary col-12 col-md-12">
        <h3 id="workout-detail-header" class="center-align">{{ planned_workout.workout_description
          }}</h3>
      </div>

      <!--Plan Workout Date-->

      <div id="plan-workout-date" class="btn btn-secondary col-12 col-md-12">
        <h3>{{workout.date}}</h3>
      </div>

 <!--Plan Exercises Line 1-->
    
      <div id="plan-workouts-container" class="btn btn-secondary col-md-12 gx-0">
        <span>
          <h4>Exercises Completed</h4>
        </span>
        {% if planned_workout.exercise %}
        <div class="row">
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{planned_workout.exercise}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="category" name="category" value="{{planned_workout.category}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier" name="modifier" value="{{planned_workout.modifier}}" disabled>
          </div>
          <div class=" btn col-md-2 gx-0">
            <input type="text" class="form-control" id="total" name="total" value="{{planned_workout.modifier_two}}" disabled>
          </div>
          <div class=" btn col-md-2 gx-0">
            <input type="text" class="form-control" id="total" name="total" value="{{planned_workout.modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

        <!--Plan Workout Exercises Line 2-->

        {% if planned_workout.exercise2 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise2}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category2}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_two_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_two_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_two_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

      <!--Plan Workout Exercises Line 3-->

      {% if planned_workout.exercise3 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise3}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category3}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_three_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_three_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_three_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

      <!--Plan Workout Exercises Line 4-->

      {% if planned_workout.exercise4 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise4}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category4}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_four_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_four_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_four_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

        <!--Plan Workout Exercises Line 5-->

        {% if planned_workout.exercise5 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise5}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category5}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_five_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_five_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_five_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

        <!--Plan Workout Exercises Line 6-->

        {% if planned_workout.exercise6 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise6}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category6}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_six_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_six_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_six_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

        <!--Plan Workout Exercises Line 7-->

        {% if planned_workout.exercise7 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise7}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category7}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_seven_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_seven_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_seven_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}

        <!--Plan Workout Exercises Line 8-->

        {% if planned_workout.exercise8 %}
        <div class="row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{planned_workout.exercise8}}" disabled>
          </div>
          <div class="btn col-md-2">
            <input type="text" class="form-control" id="category2" name="category2" value="{{planned_workout.category8}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_eight_modifier}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_eight_modifier_two}}" disabled>
          </div>
          <div class="btn col-md-2 gx-0">
            <input type="text" class="form-control" id="modifier2" name="modifier2" value="{{planned_workout.exercise_eight_modifier_three}}" disabled>
          </div>
        </div>
        {% endif %}
      
        {% if planned_workout.exercise8 %}
      <div>
        <div id ="plan-additional-information" class="btn btn-secondary col-12 col-md-12">
                  <span><label for="edit-workout-description"></label>
                    Additional Information</span>
                  <input type="text" class="form-control" id="additional-information" name="additional-information"
                    minlength="5" maxlength="100" value="{{ planned_workout.additional_information}}" disabled>
                  </input>
                </div>
                {% endif %}

</div>
</div>
</div>
{% endblock %}