{% extends "base.html" %}
{% block content %}

<!--Plan Workout Container-->

<div id="save-record-container" class="col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded row form-group">
  <form id="save-workout-form" class="row" method="POST" action="{{url_for('plan_workout', workout_id = workout._id)}}">
  <div>
    <div class="btn btn-success col-12 col-md-12">
      <h3 id="workout-detail-header" class="center-align">{{ workout.workout_description
        }}</h3>
      <span><label for="plan-workout-description"></label>Workout
        Description</span>
      <input type="text" class="form-control" id="plan-workout-description" name="plan-workout-description" minlength="5"
        maxlength="100" value="{{ workout.workout_description
              }}">
      </input>
    </div>

    <!--Plan Workout Date-->

    <div id="plan-workout-date" class="btn btn-success col-12 col-md-12">
      <h3>{{workout.date}}</h3>
    <div id="date-picker" class="col-6 col-md-3">
      <label for="workout-date">Set Challenge Date</label>
      <input id="plan-workout-date" name="plan-workout-date" class="form-control" type="date" required>
    </div>
    </div>

    <!--Plan Workout Details-->

    <div id="save-workouts-container" class="btn btn-success col-md-12 gx-0">
      <span>
        <h4>Exercises To Be Completed</h4>
      </span>
      <div class="row">
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-exercise" name="plan-exercise" value="{{workout.exercise}}"
            >
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-category" name="plan-category" value="{{workout.category}}"
            >
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-modifier" name="plan-modifier" value="{{workout.modifier}}"
            >
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-total" name="plan-total" value="{{workout.total}}" >
        </div>
      </div>

      <!--Plan Workout Exercises Line 2-->

      {% if workout.exercise2 %}
      <div class=" row">
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="plan-exercise-two" name="plan-exercise-two" value="{{workout.exercise2}}"
            >
        </div>
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="plan-category-two" name="plan-category-two" value="{{workout.category2}}"
            >
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-modifier-two" name="plan-modifier-two" value="{{workout.modifier2}}"
            >
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-total-two" name="plan-total-two" value="{{workout.total2}}" >
        </div>
      </div>
      {% endif %}

      <!--Plan Workout Exercises Line 3-->

      {% if workout.exercise3 %}
      <div class=" row">
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="plan-exercise-three" name="plan-exercise-three" value="{{workout.exercise3}}"
            >
        </div>
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="plan-category-three" name="plan-category-three" value="{{workout.category3}}"
            >
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-modifier-three" name="plan-modifier-three" value="{{workout.modifier3}}"
            >
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-total-three" name="plan-total-three" value="{{workout.total3}}" >
        </div>
        {% endif %}
      </div>

      <!--Plan Workout Exercises Line 4-->

      {% if workout.exercise4 %}
      <div class=" row">
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="plan-exercise-four" name="plan-exercise-four" value="{{workout.exercise4}}">
        </div>
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="plan-category-four" name="plan-category-four" value={{workout.category4}}>
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-modifier-four" name="plan-modifier-four" value="{{workout.modifier4}}"
            >
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="plan-total-four" name="plan-total-four" value="{{workout.total4}}" >
        </div>
        {% endif %}

        <!--Plan Workout Exercises Line 5-->

        {% if workouts.exercise5 %}
        <div class=" row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="plan-exercise-five" name="plan-exercise-five" value="{{workout.exercise5}}"
              >
          </div>
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="plan-category-five" name="plan-category-five" value="{{workout.category5}}"
              >
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="plan-modifier-five" name="plan-modifier-five" value="{{workout.modifier5}}"
              >
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="plan-total-five" name="plan-total-five" value="{{workout.total5}}" >
          </div>
          {% endif %}
        </div>
        <div>

          <!--Plan Workout Additional Details-->

          <div id="plan-workout-details" class="btn btn-success col-12 col-md-12">
            <span><label for="plan-workout-description"></label>
              Additional Information</span>
            <input type="text" class="form-control" id="plan-additional-information" name="plan-additional-information" minlength="5"
              maxlength="100" value="{{ workout.additional_information
            }}" >
            </input>
          </div>

          <!--Plan Workout Button-->
          <div>
            <button id="plan-workout" type="submit" class="col-sm-12 col-md-3">Set As Workout Plan</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}