{% extends "base.html" %}
{% block content %}

<div class="row">
    <div id="profile-header" class="col-sm-12 col-md-6">
        <h3 id="profile-name" class="light-blue-text text-darken-4">
            {{ username }}'s Profile
        </h3>
    </div>


    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %} {% if messages %}
        {% if message == "Workout successfully logged!" %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
        </div>
        {% endif %}
        {% if message == "Workout successfully deleted!" %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
        </div>
        {% endif %}
        {% endif %} {% endwith %}
    </section>

</div>

<!-- displays user recorded workouts -->

<div id="recorded-workouts" class="row workout-row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded">
        <h4>
            My recorded workouts
        </h4>
        {% for workout in workouts %}
        {% if workout.created_by|lower == session.user|lower %}
        <div class="col-md-4 logged-collapse-container">
            <button id="logged-workout-collapse-button" class="col-md-12 logged-collapse-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#{{workout.workout_container_description}}"
                aria-expanded="false" aria-controls="{{workout.workout_container_description}}">
                <div id="profile-description-span">
                    <span>{{workout.workout_description}}<br>{{workout.date}}<br><i
                            class="fa-regular fa-square-caret-down"></i></span>
                </div>
            </button>
            <div class="collapse" id="{{workout.workout_container_description}}">
                {% if workout.created_by|lower == session.user|lower %}
                {% if workout.category == "cardio" %}
                <img class="card-head col-md-12" src="/static/images/cardio-card-header.jpg">
                {% elif workout.category == "resistance" %}
                <img class="card-head col-md-12" src="/static/images/resistance-card-header.jpg">
                {% elif workout.category == "weights" %}
                <img class="card-head col-md-12" src="/static/images/weights-card-header.jpg">
                {% else %}
                <img class="card-head col-md-12" src="/static/images/general-workout-card-header.jpg">
                {% endif %}
                {% endif %}
                <div class="card-body">
                    <p>{{ workout.date }}</p>
                    <a href="{{ url_for('workout_details', workout_id=workout._id) }}">{{
                        workout.workout_description
                        }}</a>
                    <div id="profile-button-row" class="row">
                        <div class="col-sm-6 col-md-6">
                            <a href={{ url_for('delete_workout', workout_id=workout._id) }} class="btn btn-danger"><i
                                    class="fa-solid fa-trash-can"></i> Delete</a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <a href={{ url_for('edit_workout', workout_id=workout._id) }} class="btn btn-primary"><i
                                    class="fa-regular fa-pen-to-square"></i>Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>


<!-- displays user saved workouts -->

<div id="saved-workouts" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded workouts-collapsible">
        <h4>
            My saved workouts
        </h4>
        {% for workout in workouts %}
        {% if workout.workout_description %}
        {% if session.user|lower in workout.saved_by %}
        <div class="col-md-4 saved-collapse-container">
            <button id="saved-workout-collapse-button" class="col-md-12 logged-collapse-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#{{workout.workout_container_description}}"
                aria-expanded="false" aria-controls="{{workout.workout_container_description}}">
                <div id="profile-description-span">
                    <span>{{workout.workout_description}}<br>{{workout.date}}<br><em>Logged By : {{workout.created_by}}</em><br><i
                            class="fa-regular fa-square-caret-down"></i></span>
                </div>
            </button>
            <div class="collapse" id="{{workout.workout_container_description}}">
                {% if workout.category == "cardio" %}
                <img class="card-head col-md-12" src="/static/images/cardio-card-header.jpg">
                {% elif workout.category == "resistance" %}
                <img class="card-head col-md-12" src="/static/images/resistance-card-header.jpg">
                {% elif workout.category == "weights" %}
                <img class="card-head col-md-12" src="/static/images/weights-card-header.jpg">
                {% else %}
                <img class="card-head col-md-12" src="/static/images/general-workout-card-header.jpg">
                {% endif %}
                <div class="card-body">
                    <a href="{{ url_for('workout_details', workout_id=workout._id) }}">{{
                        workout.workout_description
                        }}</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>

<!-- displays user planned workouts -->

<div id="planned-workouts" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded workouts-collapsible">
        <h4>
            My planned workouts
        </h4>
        {% for plan in planned_workouts %}
        {% if plan.planned_by == session.user|lower %}
        <div class="col-md-4 plan-collapse-container">
            <button id="plan-workout-collapse-button" class="col-md-12 logged-collapse-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#plan-collapse" aria-expanded="false"
                aria-controls="plan-collapse">
                <div id="profile-description-span">
                    <span>{{plan.workout_description}}<br><i
                            class="fa-regular fa-square-caret-down"></i></span>
                </div>
            </button>
            <div class="collapse" id="plan-collapse">
                {% if plan.category == "cardio" %}
                <img class="card-head col-md-12" src="/static/images/cardio-card-header.jpg">
                {% elif plan.category == "resistance" %}
                <img class="card-head col-md-12" src="/static/images/resistance-card-header.jpg">
                {% elif plan.category == "weights" %}
                <img class="card-head col-md-12" src="/static/images/weights-card-header.jpg">
                {% else %}
                <img class="card-head col-md-12" src="/static/images/general-workout-card-header.jpg">
                {% endif %}
                
                <div id="plan-card-body"class="card-body">
                    <h5>Workout Challenge Date <br>{{
                        plan.planned_date
                        }}</h5>
                    <p>{{plan.exercise}} : {{plan.category}},  {{plan.modifier}} : {{plan.total}}</p>
                    {% if plan.exercise2 %}
                    <p>{{plan.exercise2}} : {{plan.category2}},  {{plan.modifier2}} : {{plan.total2}}</p>
                    {% endif %}
                    {% if plan.exercise3 %}
                    <p>{{plan.exercise3}} : {{plan.category3}},  {{plan.modifier3}} : {{plan.total3}}</p>
                    {% endif %}
                    {% if plan.exercise4 %}
                    <p>{{plan.exercise4}} : {{plan.category4}},  {{plan.modifier4}} : {{plan.total4}}</p>
                    {% endif %}
                    {% if plan.exercise5 %}
                    <p>{{plan.exercise5}} : {{plan.category5}},  {{plan.modifier5}} : {{plan.total5}}</p>
                    {% endif %}
                    {% if plan.additional_information %}
                    <p>{{plan.additional_information}}</p>
                    {% endif %}
                    <div id="profile-button-row" class="row">
                        <div class="col-sm-6 col-md-12">
                            <a href = "{{ url_for('delete_planned_workout', plan_workout_id=plan._id) }}" class="btn btn-success"><i class="fa-regular fa-square-check"></i><br>Mark As Completed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>




{% endblock %}