{% extends "base.html" %}
{% block content %}

<div class="row">
    <div id="profile-header" class="col-sm-12 col-md-6">
        <h3 id="profile-name" class="light-blue-text text-darken-4">
            {{ username }}'s Profile
        </h3>
    </div>

    
<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %} {% if messages %} 
        {% if message == "Workout successfully logged!" %}
    <div class="row flashes">
        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
    </div>
        {% endif %}
        {% if message == "Workout successfully deleted!" %}
        <div class="row flashes">
            <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
        </div>
            {% endif %}
 {% endif %} {% endwith %}
  </section>

</div>


<div id="recorded-workouts" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg p-3 mb-5 bg-white rounded workouts-collapsible">
        <h4>
            My recorded workouts
        </h4>
        {% for workout in workouts %}
        {% if workout.created_by|lower == session.user|lower %}
        <div id="workout-card" class="card col-md-4">
            {% if workout.category == "cardio" %}
                <img class="card-head col-md-11" src="/static/images/cardio-card-header.jpg">
            {% elif workout.category == "resistance" %}
                <img class="card-head" src="/static/images/resistance-card-header.jpg">
            {% elif workout.category == "weights" %}
                <img class="card-head" src="/static/images/weights-card-header.jpg">
            {% else %}
                <img class="card-head" src="/static/images/general-workout-card-header.jpg">
            {% endif %}
            <div class="card-body">
                <p>{{ workout.date }}</p>
                <a href="{{ url_for('workout_details', workout_id=workout._id) }}">{{ workout.workout_description }}</a>
                <div id="profile-button-row" class="row">
                    <div class="col-sm-6 col-md-6">
                    <a href={{ url_for('delete_workout', workout_id=workout._id) }} class="btn btn-danger"><i
                            class="fa-solid fa-trash-can"></i> Delete</a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                    <a href={{ url_for('edit_workout', workout_id=workout._id) }} class="btn btn-primary"><i
                            class="fa-regular fa-pen-to-square"></i>Edit</a>
                        </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="card-body col-md-4">

        </div>
        <div class="card-body col-md-4">

        </div>
    </div>
</div>

<div id="saved-workouts" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg p-3 mb-5 bg-white rounded workouts-collapsible">
        <h4>
            My saved workouts
        </h4>
        {% for workout in workouts %}
            {% if workout.workout_description %}
                {% if session.user|lower in workout.saved_by %}
                <div id="workout-card" class="card col-md-4">
                    {% if workout.category == "cardio" %}
                    <img class="card-head" src="/static/images/cardio-card-header.jpg">
                    {% elif workout.category == "resistance" %}
                    <img class="card-head" src="/static/images/resistance-card-header.jpg">
                    {% elif workout.category == "weights" %}
                    <img class="card-head" src="/static/images/weights-card-header.jpg">
                    {% else %}
                    <img class="card-head" src="/static/images/general-workout-card-header.jpg">
                    {% endif %}
                    <div class="card-body col-md-12">
                        <h5>{{workout.workout_description}}</h5> 
                            <p><em>logged by: {{workout.created_by}}</em></p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<div id="workout-plans" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg p-3 mb-5 bg-white rounded workouts-collapsible">
        <h4>
            My workout plans
        </h4>
        <div class="card-body col-md-4">
            plan 1
        </div>
        <div class="card-body col-md-4">
            plan 2
        </div>
        <div class="card-body col-md-4">
            plan 3
        </div>
    </div>
</div>

{% endblock %}