{% extends "base.html" %}
{% block content %}

<!-- flash messages -->

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div id="profile-flashes-container" class="flashes flashes-timed col-6 mx-auto highlight">
    <h3 class="flashes-timed">{{ message }}</h3>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="row">
    <div id="profile-header" class="col-sm-12 col-sm-6 col-md-6">
        <h3 id="profile-name" class="light-blue-text text-darken-4">
            {{ username }}'s Profile
        </h3>
    </div>
</div>

<!-- displays user overview stats -->

<div id="recorded-workouts" class="row workout-row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded">
        <h4>
            At a glance
        </h4>
        <span>total recorded workouts: {{user_total_workouts}}</span>
        <span>favourite exercise: {{ highest_stat }}</span>
        <span>{{ profile_favourite_exercise }}</span>
    </div>
</div>

<!-- displays user recorded workouts -->

<div id="recorded-workouts" class="row workout-row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded">
        <h4 id="current-month-record">
            Recorded workouts for
        </h4>
        {% for workout in workouts %}
        {% if workout.created_by|lower == session.user|lower %}
            {% set workout_month = workout.date[5:7] %} 
            {% if workout_month == "%02d" % month %}
        <div class="col-12 col-md-4 logged-collapse-container">
            <button id="logged-workout-collapse-button" class="col-12 logged-collapse-button">
                <div id="profile-description-span">
                    <a target="_blank" href="{{ url_for('workout_details', workout_id=workout._id) }}"><span>{{workout.workout_description}}</span></a>
                    <br>{{workout.date}}<br>
                </div>
            </button>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>


<!-- displays user saved workouts -->

<div id="saved-workouts" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded workouts-collapsible">
        <h4>
            My saved workouts
        </h4>
        {% for workout in workouts %}
        {% if workout.workout_description %}
        {% if session.user|lower in workout.saved_by %}
        {% if not session.user|lower in workout.un_saved_by %}
        <div class="col-12 col-md-4 saved-collapse-container">
            <button id="saved-workout-collapse-button" class="col-md-12 logged-collapse-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#{{workout.workout_container_description}}"
                aria-expanded="false" aria-controls="{{workout.workout_container_description}}">
                <div id="profile-description-span">
                    <span>{{workout.workout_description}}<br>{{workout.date}}<br><em>Logged By :
                            {{workout.created_by}}</em><br><i class="fa-regular fa-square-caret-down"></i></span>
                </div>
            </button>
            <div class="collapse" id="{{workout.workout_container_description}}">
                {% if workout.category == "cardio" %}
                <img class="card-head col-md-12" src="/static/images/cardio-card-header.jpg">
                {% elif workout.category == "resistance" %}
                <img class="card-head col-md-12" src="/static/images/resistance-card-header.jpg">
                {% elif workout.category == "weights" %}
                <img class="card-head col-md-12" src="/static/images/weights-card-header.jpg">
                {% else %}
                <img class="card-head col-md-12" src="/static/images/general-workout-card-header.jpg">
                {% endif %}
                <div class="card-body">
                    <a href="{{ url_for('workout_details', workout_id=workout._id) }}">{{
                        workout.workout_description
                        }}</a>
                    <br>
                    <form method="POST" action="{{url_for('un_save_workout', workout_id=workout._id)}}">
                        <button type="submit" class="btn btn-danger"><i
                                class="fa-regular fa-square-minus"></i><br>Remove Workout</a></button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>

<!-- displays user planned workouts -->

<div id="planned-workouts" class="row col-sm-12 col-md-6">
    <div class="row shadow-lg bg-white rounded workouts-collapsible">
        <h4>
            My planned workouts
        </h4>
        {% for plan in planned_workouts %}
        {% if plan.planned_by == session.user|lower %}
        <div class="col-12 col-md-4 plan-collapse-container">
            <button id="plan-workout-collapse-button" class="col-md-12 logged-collapse-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#plan-collapse" aria-expanded="false"
                aria-controls="plan-collapse">
                <div id="profile-description-span">
                    <span>{{plan.workout_description}}<br><i class="fa-regular fa-square-caret-down"></i></span>
                </div>
            </button>
            <div class="collapse" id="plan-collapse">
                {% if plan.category == "cardio" %}
                <img class="card-head col-md-12" src="/static/images/cardio-card-header.jpg">
                {% elif plan.category == "resistance" %}
                <img class="card-head col-md-12" src="/static/images/resistance-card-header.jpg">
                {% elif plan.category == "weights" %}
                <img class="card-head col-md-12" src="/static/images/weights-card-header.jpg">
                {% else %}
                <img class="card-head col-md-12" src="/static/images/general-workout-card-header.jpg">
                {% endif %}

                <div id="plan-card-body" class="card-body">
                    <div id="profile-button-row" class="row">
                        <div class="col-6">
                            <a href="{{ url_for('plan_workout_details', plan_workout_id=plan._id) }}"
                                class="btn btn-info"><i class="fa-solid fa-circle-info"></i><br>View Plan Details</a>
                        </div>
                        <div class="col-6">
                            <a href="{{ url_for('delete_planned_workout', plan_workout_id=plan._id) }}"
                                class="btn btn-success"><i class="fa-regular fa-square-check"></i><br>Mark As
                                Completed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>




{% endblock %}