{% extends "base.html" %}
{% block content %}

<!--Save Workout Container-->

<div id="save-record-container" class="col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded row form-group">
  <div>
    <div class="btn btn-dark col-12 col-md-12">
      <h3 id="workout-detail-header" class="center-align">{{ workout.workout_description
        }}</h3>
      <span><label for="save-workout-description"></label>Workout
        Description</span>
      <input type="text" class="form-control" id="save-workout-description" name="workout-description" minlength="5"
        maxlength="100" placeholder="{{ workout.workout_description
              }}" disabled>
      </input>
    </div>

    <!--Save Workout Date-->

    <div id="save-record-date" class="btn btn-dark col-12 col-md-12">
      <h3>{{workout.date}}</h3>
      <span><label for="save-workout-date">Workout
          Date</label></span>
      <input type="text" class="form-control" id="save-workout-date" name="workout-date" minlength="5" maxlength="50"
        placeholder="{{ workout.date
            }}" disabled>
    </div>

    <!--Save Workout Details-->

    <div id="save-workouts-container" class="btn btn-dark col-md-12 gx-0">
      <span>
        <h4>Exercises Completed</h4>
      </span>
      <div class="row">
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="exercise" name="exercise" placeholder="{{workout.exercise}}"
            disabled>
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="category" name="category" placeholder="{{workout.category}}"
            disabled>
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="modifier" name="modifier" placeholder="{{workout.modifier}}"
            disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="total" name="total" placeholder="{{workout.total}}" disabled>
        </div>
      </div>

      <!--Save Workout Exercises Line 2-->

      {% if workout.exercise2 %}
      <div class=" row">
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="exercise2" name="exercise2" placeholder="{{workout.exercise2}}"
            disabled>
        </div>
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="category2" name="category2" placeholder="{{workout.category2}}"
            disabled>
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="modifier2" name="modifier2" placeholder="{{workout.modifier2}}"
            disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="total2" name="total2" placeholder="{{workout.total2}}" disabled>
        </div>
      </div>
      {% endif %}

      <!--Save Workout Exercises Line 3-->

      {% if workout.exercise3 %}
      <div class=" row">
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="exercise3" name="exercise3" placeholder="{{workout.exercise3}}"
            disabled>
        </div>
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="category3" name="category3" placeholder="{{workout.category3}}"
            disabled>
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="modifier3" name="modifier3" placeholder="{{workout.modifier3}}"
            disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="total3" name="total3" placeholder="{{workout.total3}}" disabled>
        </div>
        {% endif %}
      </div>

      <!--Save Workout Exercises Line 4-->

      {% if workout.exercise4 %}
      <div class=" row">
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="exercise4" name="exercise4" placeholder="{{workout.exercise4}}">
        </div>
        <div class="btn col-md-3">
          <input type="text" class="form-control" id="category4" name="category4" placeholder={{workout.category4}}>
        </div>
        <div class="btn col-md-3 gx-0">
          <input type="text" class="form-control" id="modifier4" name="modifier4" placeholder="{{workout.modifier4}}"
            disabled>
        </div>
        <div class=" btn col-md-3 gx-0">
          <input type="text" class="form-control" id="total4" name="total4" placeholder="{{workout.total4}}" disabled>
        </div>
        {% endif %}

        <!--Save Workout Exercises Line 5-->

        {% if workouts.exercise5 %}
        <div class=" row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise5" name="exercise5" placeholder="{{workout.exercise5}}"
              disabled>
          </div>
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="category5" name="category5" placeholder="{{workout.category5}}"
              disabled>
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="modifier5" name="modifier5" placeholder="{{workout.modifier5}}"
              disabled>
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="total5" name="total5" placeholder="{{workout.total5}}" disabled>
          </div>
          {% endif %}
        </div>
        <div>

          <!--Save Workout Additional Details-->

          <div id="save-workout-details" class="btn btn-dark col-12 col-md-12">
            <span><label for="edit-workout-description"></label>
              Additional Information</span>
            <input type="text" class="form-control" id="workout-description" name="workout-description" minlength="5"
              maxlength="100" placeholder="{{ workout.additional_information
            }}">
            </input>
          </div>

          <!--Save Workout Button-->
          <div>
            <button id="save-workout" type="submit" class="col-sm-12 col-md-3">Save Workout</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}