{% extends "base.html" %}
{% block content %}

<h3>All Workouts</h3>
<div id ="workout-list-container" class= "row col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded mx-auto">
    <form id="workout-search" action="{{url_for('search')}}" method="post" class="row">
            <div class="col-8">
                <input class="form-control me-2" type="text" name="query" id="query" placeholder="Enter your search e.g. by exercise type" aria-label="Search" required>
            </div>
            <div id ="workout-search-button-container" class="col-4">
                <button id="search-button" class="btn" type="submit"><label for="query"><i class="fas fa-search prefix light-blue-text text-darken-4"></i>Search</label></button>
                <a href="{{ url_for('workouts') }}" id = "reset-search" class="btn btn-primary">Reset</a>
            </div>
    </form>
    <hr>
    {% if workouts|length > 0 %}
        {% for workout in workouts %}
            {% if workout.is_visible == "on" %}
              <button id="workout-collapse-button" class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#{{workout.workout_container_description}}" aria-expanded="false" aria-controls="{{workout.workout_container_description}}">
                <div id = "description-span">
                <span><i class="fa-regular fa-square-caret-down"></i> {{ workout.workout_description }} logged by : <em> {{ workout.created_by }}</em></span>
                </div>
                <div id = "action-span">
                <span><i class="fa-regular fa-floppy-disk"></i>
                  {% if session.user == workout.created_by %}
                  <a class="undecorated" href="{{ url_for('edit_workout',workout_id = workout._id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                  <i class="fa-regular fa-trash-can"></i></span>
                  
                  {% endif %}
              </div>
              </button>
            </p>
            <div class="collapse" id="{{workout.workout_container_description}}">
              <div class="card card-body">
                {% if workout.get[key] !="" %}
                <span>{{ workout.category}} : {{ workout.exercise }} {{ workout.total }} {{ workout.modifier }}</span>
                <span>{{ workout.category2}} : {{ workout.exercise2 }} {{ workout.total2 }} {{ workout.modifier2 }}</span>
                <span>{{ workout.category3}} : {{ workout.exercise3 }} {{ workout.total3 }} {{ workout.modifier3 }}</span>
                <span>{{ workout.category4}} : {{ workout.exercise4 }} {{ workout.total4 }} {{ workout.modifier4 }}</span>
                <span>{{ workout.category5}} : {{ workout.exercise5 }} {{ workout.total5 }} {{ workout.modifier5 }}</span>
                <span>{{workout.additional_information}}</span>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
{% endblock %}