{% extends "base.html" %}
{% block content %}

<h3>All Workouts</h3>
<div id ="workout-list-container" class= "row col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded mx-auto">
    <form id="workout-search" action="{{url_for('search')}}" method="post" class="row">
            <div class="col-8">
                <input class="form-control me-2" type="text" name="query" id="query" placeholder="Enter your search e.g. by exercise type" aria-label="Search" required>
            </div>
            <div id ="workout-search-button-container" class="col-4">
                <button id="search-button" class="btn" type="submit"><label for="query"><i class="fas fa-search prefix light-blue-text text-darken-4"></i>Search</label></button>
                <a href="{{ url_for('workouts') }}" class="btn btn-primary">Reset</a>
            </div>
    </form>
    <hr>
</div>

{% if workouts|length > 0 %}
<ul class="collapsible">
    {% for workout in workouts %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == workout.created_by|lower %}
                <a href="#" class="btn-small green accent-4">Done</a>
                <a href="{{ url_for('edit_workout', workout_id=workout._id) }}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ workout.completed_date }}</strong>
                {% if workout.is_shared == "on" %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-position="right"
                    data-tooltip="Public!"></i>
                {% endif %}
            </div>
        </div>
        <!--publicly viewable function-->
        {% if workout.is_visible == "on" %}
        <div class="collapsible-body">
            <strong>{{ workout.category_name }}</strong>
            <p>{{ workout.workout_description }}</p>
            <p><em>by: {{ workout.created_by }}</em></p>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}

{% endblock %}