{% extends "base.html" %}
{% block content %}

<!-- Workout Details Container-->

<div id="edit-record-container" class="col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded row form-group">
    <div mx-auto>
      <div class="btn btn-info col-12 col-md-12">
        <h3 id="workout-detail-header" class="center-align">{{ workout.workout_description
          }}</h3>
        <span><label for="edit-workout-description"></label><i class="fa-regular fa-pen-to-square"></i>Edit Workout
          Description</span>
        <input type="text" class="form-control" id="workout-description" name="workout-description" minlength="5"
          maxlength="60" value="{{ workout.workout_description
              }}">
        </input>
      </div>

      <!--Edit Workout Date-->

      <div class="btn btn-info col-12 col-md-12">
        <h3>{{workout.date}}</h3>
        <span><label for="edit-workout-date"><i class="fa-regular fa-pen-to-square"></i>Change Workout
            Date</label></span>
        <input type="text" class="form-control" id="workout-date" name="workout-date" minlength="5" maxlength="50"
          value="{{ workout.date
            }}">
      </div>
      <div id="edit-workouts-container" class="btn btn-info col-md-12 gx-0">
        <span>
          <h4><i class="fa-regular fa-pen-to-square"></i>Edit Exercises Completed</h4>
        </span>
        <div class="row">
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.exercise}}:">
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.category}}:">
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.modifier}}:">
          </div>
          <div class=" btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.total}}">
          </div>
        </div>

        <!--Edit Workout Exercises Line 2-->
        {% if workout.exercise2 %}
        <div class=" row">
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="exercise2" name="exercise2" value="{{workout.exercise2}}">
          </div>
          <div class="btn col-md-3">
            <input type="text" class="form-control" id="category2" name="category2" value="{{workout.category2}}">
          </div>
          <div class="btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.modifier2}}"":>
          </div>
          <div class=" btn col-md-3 gx-0">
            <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.total2}}"">
          </div>
        </div>
        {% endif %}

      <!--Edit Workout Exercises Line 3-->

      {% if workout.exercise3 %}
      <div class=" row">
            <div class="btn col-md-3">
              <input type="text" class="form-control" id="exercise3" name="exercise3" value={{workout.exercise3}}
                :>
            </div>
            <div class="btn col-md-3">
              <input type="text" class="form-control" id="category" name="exercise3" value={{workout.category3}}>
            </div>
            <div class="btn col-md-3 gx-0">
              <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.modifier3}}"":>
        </div>
        <div class=" btn col-md-3 gx-0">
              <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.total3}}"">
        </div>
        {% endif %}
      </div>  

      <!--Edit Workout Exercises Line 4-->

      {% if workout.exercise4 %}
      <div class=" row">
              <div class="btn col-md-3">
                <input type="text" class="form-control" id="exercise4" name="exercise4"
                  value="{{workout.exercise4}}">
              </div>
              <div class="btn col-md-3">
                <input type="text" class="form-control" id="category4" name="category4"
                  value={{workout.category4}}>
              </div>
              <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                  value="{{workout.modifier4}}"":>
        </div>
        <div class=" btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise" value="{{workout.total4}}"">
        </div>
        {% endif %}

       <!--Edit Workout Exercises Line 5-->

       {% if workouts.exercise5 %}
      <div class=" row">
                <div class="btn col-md-3">
                  <input type="text" class="form-control" id="exercise5" name="exercise5"
                    value={{workout.exercise5}} :>
                </div>
                <div class="btn col-md-3">
                  <input type="text" class="form-control" id="exercise5" name="exercise5"
                    value={{workout.category5}}>
                </div>
                <div class="btn col-md-3 gx-0">
                  <input type="text" class="form-control" id="exercise5" name="exercise5"
                    value="{{workout.modifier5}}"":>
        </div>
        <div class=" btn col-md-3 gx-0">
                  <input type="text" class="form-control" id="exercise5" name="exercise5"
                    value="{{workout.total5}}"">
        </div>
        {% endif %}
      </div> 
      <div>
        <div class=" btn btn-info col-12 col-md-12">
                  <span><label for="edit-workout-description"></label><i class="fa-regular fa-pen-to-square"></i>Add
                    Additional Information</span>
                  <input type="text" class="form-control" id="additional-information" name="additional-information"
                    minlength="5" maxlength="60" value="{{ workout.additional_information}}">
                  </input>
                </div>

</div>
</div>
</div>
{% endblock %}